# datasets
/input
/stanford
/data

# IDE
/static/.DS_Store
.DS_Store
.pylintrc
/venv
**/__pycache__
.vscode

# yolo
/yolov5

# static
/static/outimages**
/static/testimages**
/static/.DS_Store

# identifier
/identifier/input
/identifier/output
/identifier/datasets
/identifier/data/**

# models
**saved_model.pt
**yolov5s.pt