# datasets
/input
/stanford
/data

# IDE
/static/.DS_Store
.DS_Store
.pylintrc
/venv
/__pycache__
.vscode

# yolo
yolov5s.pt
/yolov5

# static
/static/outimages**
/static/testimages**
/static/.DS_Store

# ai-classifier
/ai-classifier/input
/ai-classifier/output
/ai-classifier/datasets
/ai-classifier/data/**