/* Color Scheme */
/* aqua/teal - #00a66e */
/* dark blue/green - #17252A */
/* slightly off white - #feffff */
/* red with tint of pink - #ff004f */
/* squash - #F7A553 */
/*brown? 433421*/

div#content {
    display: block;
}

div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loadingimage.gif) no-repeat;
    cursor: wait;
}

table {
    width: 100%
}

body {
    background-color: #00a66e;
}

h1, h3, h6, p, label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.title {
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 900;
    color: #feffff;
    margin-top: 1rem;
}

.subtitle {
    color: #17252a;
}

img {
    border: 7px solid;
    border-color: #17252a;    
}

.prediction {
    color: #17252a;
    margin-top: .2rem;
    margin-bottom: 1rem;
}

/* hide original input buttons */
input[type="file"], input[type="submit"] {
    display: none;
}

.custom-input {
    font-size: 1.25em;
    font-weight: 500;
    padding-right: 1rem;
    padding-left: .5rem;
    color: white;
    background-color: #17252a;
    display: inline-block;
    cursor: pointer;
    color: #feffff;
}

.custom-input:hover {

    /*red pink*/
    background-color: #ff004f;

} 

.jam-icon {
    fill: #feffff;
}

.jam-icon.browse {
    margin-right: .5rem;
}

.jam-icon.upload {
    margin-right: .25rem;
    margin-bottom: .15rem;
}