div#content {
    display: block;
}

div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loadingimage.gif) no-repeat;
    cursor: wait;
}

table {
    width: 100%;
}

body {
    background-color: #fec357; /* dark yellow */
}

.main-container {
    width: 98%;
    padding: 0;
}

.title-row {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #000000;  /* black */ 
    font-weight: 900;
    margin-bottom: 0rem;
    font-size: 8vw;
}

.subtitle-row {
    margin-bottom: 4vw;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    color: #000000;  /* black */ 
    font-weight: 300;
    margin-bottom: 0rem;
    font-size: 5vw;
}

.formats-row {
    margin-bottom: 5vw;
}

.formats {
    width: 25%;
}

.orientations {
    margin-bottom: 2vw;
    width: 100%;
} 

.instructions {
    width: 100%;
}

.userimg {
    max-width: 100%;
}
.instructions, .userimg {
    border: 7px solid;
    border-color: #000000; /* black  
}

.prediction {
    font-family: 'Roboto', sans-serif;
    color: #000000; /* black */
    margin-top: .2rem;
    margin-bottom: 1rem;
    font-size: 2vw;
}

/* hide original input buttons */
input[type="file"], input[type="submit"] {
    display: none;
}

.button-row {
    margin-top: 4vw;
}

.file-btn {
    color: #ffffff; /* white */
    font-size: 4vw;
    font-weight: 300;
    padding-top: .3rem;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-bottom: .2rem;
    background-color: #0180ff; /* light blue */
    display: inline-block;
    cursor: pointer;
}

.upload-btn {
    color: #ffffff; /* white */
    font-size: 4vw;
    font-weight: 300;
    padding-top: .3rem;
    padding-right: .75rem;
    padding-left: .75rem;
    background-color: #0180ff; /* light blue */
    display: inline-block;
    cursor: pointer;
}

.file-btn:hover, .upload-btn:hover {
    background-color: #003f7f; /* darker blue */
} 

img.folder-search-img {
    padding-top: .2rem;
    padding-bottom: .4rem;
    padding-right: .2rem;
}

img.upload-img {
    height: 1.5rem;
    padding-bottom: .25rem;
    padding-right: .2rem;
}


@media (min-width: 576px) {
    .file-btn {
        font-size: 3.5vw; 
        padding-top: .3rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .upload-btn {
        font-size: 3.5vw;
        padding-top: .3rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    img.folder-search-img {
        height: 2rem;
        padding-bottom: .4rem;
    }

    img.upload-img {
        height: 1.6rem;
        padding-bottom: .2rem;
    }

}

@media (min-width: 768px) {
    .file-btn {
        font-size: 1.6rem; 
        padding-top: .45rem;
    }

    .upload-btn {
        font-size: 1.6rem;
        padding-top: .4rem;
    }

    img.folder-search-img {
        height: 2.4rem;
        padding-bottom: .4rem;
    }

    img.upload-img {
        height: 1.8rem;
        padding-bottom: .4rem;
    }

    .main-container {
        width: 70%;
    }    

}

@media (min-width: 992px) {
    .title {
        font-size: 5rem;
    }

    .subtitle-row {
        margin-bottom: 3rem;
    }

    .subtitle {
        font-size: 3.15rem;
    }

    .formats-row {
        margin-bottom: 3rem;
    }

    .orientations {
        margin-bottom: 1.5rem;
        width: 100%;
    } 
}

@media (min-width: 1200px) {
    .button-row 
    {
        margin-top: 3rem;
    }
}

@media (min-width: 1400px) {
    .main-container {
        width: 840px;
    }  
}