div#content {
    display: block;
}

div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loadingimage.gif) no-repeat;
    cursor: wait;
}

table {
    width: 100%;
}

body {
    background-color: #fec357; /* maximum yellow red */
}


/*
    headers
*/


.title {
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;  /* jet */ 
    font-weight: 900;
    margin-bottom: 0rem;
    font-size: 4rem;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;  /* jet */ 
    font-weight: 300;
    margin-bottom: 0rem;
    font-size: 2rem;
}

.formats-row {
    margin-bottom: .5rem;
}

.formats {
    max-width: 21vw;
}

/*
    instructions
*/

.orientations {
    max-width: 58vw;    
} 

.instructions {
    width: 100%;
}

/*
    images
*/

.userimg {
    max-width: 100%;
}

.instructions, .userimg {
    border: 3px solid;
    border-color: #2f2f2f; /* jet */
}

.prediction {
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f; /* jet */
    margin-top: .15rem;
    font-size: 3rem;
}


/*
    buttons
*/

/* hide original input buttons */
input[type="file"], input[type="submit"] {
    display: none;
}

.button-row {
    margin-top: .5rem;
}

.btn {
    color: #2f2f2f; /* jet */
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: #5792FE; /* cornflower blue */
    display: inline-block;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

img.folder-search-img {
    height: 2rem;
    padding: 0 20px 0 0;
}

img.upload-img {
    height: 2rem;
    padding: 0 20px 0 0;

}

.btn:hover {
    box-shadow: 0px 0px 5px 5px #fef9ff;
    transition: box-shadow 0.4s;
} 

/*
    Text
*/

a {
    text-decoration: none;
    color: #2f2f2f; /* jet */
}