<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
 
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- JS -->
    <script src="../static/js/index.js"></script>

    <title>Upload new File</title>
</head>
<body>

    <div class="container">
            <div class="d-grid gap-4 mt-5">
                <!-- Header -->
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h1 class="title text-end mt-4">CARZAM</h1>
                        <h3 class="subtitle text-end">Vehicle Recognition</h3>
                        <p class="text-end mb-0"><a href="#about">About Carzam and it's Creators</a></p>
                        <p class="text-end"><a href="#classes">Supported Vehicle Classes</a></p>
                    </div>
                </div>   

                <!-- Instructions  -->
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-md-3 justify-content-center">
                                <img class="img-fluid formats mx-auto d-block" src="./static/ui-images/formats.svg">
                            </div>
                            <div class="col-md-9 justify-content-center">
                                <img class="img-fluid orientations mx-auto d-block" src="./static/ui-images/orientations.svg">
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Images -->
                <!-- 
                    Reference: 
                    https://roytuts.com/upload-and-display-image-using-python-flask/ 
                -->
                <div class="row">
                    <div class="col-2"></div>
                    <div id="content" class="col-8 justify-content-center">
                        {% if filename %}
                            {% for img_name, img_class, img_conf in filename %}
                                <img class="userimg" src="{{img_name}}">

                                <div class="d-flex justify-content-center prediction">
                                    {{img_class}}
                                </div>
                        {% endfor %}
                        {% else %}
                            <img class="instructions" src="./static/ui-images/instructions.svg">
<!--                             <div class="d-flex justify-content-center prediction">
                                Test Prediction Format
                            </div> -->
                        {% endif %}
                    </div>
                    <div class="col-2"></div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <form method=post action="/" enctype=multipart/form-data>
                            <div class="d-grid d-md-flex gap-2 justify-content-center">

                                    <input id="choose-file" type="file" name="file" required>
                        
                                    <label class="btn" for="choose-file"><img class="folder-search-img" src="./static/ui-images/search-folder.svg">Choose a file...</label>
                
                                    <input id="upload-file" class="btn btn-outline-primary" type=submit value=Upload>
            
                                    <label class="btn" for="upload-file"><img class="upload-img" src="./static/ui-images/upload.svg">Upload</label>

                            </div>
                        </form>
                    </div>
                </div>

                <!-- About Section -->
                <div id="about" class="row border-top border-dark pt-3">
                    <h3 class="fw-bold text-center">About Carzam</h3>
                    <p class="lead">Carzam is an AI-Drive Web Application that leverages multiple Artificial Intelligence technologies and libraries to identify the year range, make and model of vehicles in an uploaded image.</p>
                    <p>The Carzam web application is built using Flask as is it's backend technology. Bootstrap was used to tidy up the front-end. Behind the scenes, an uploaded image is initially processed through 1 of 2 AI frameworks. The first one is YOLOv5 which recognizes objects in the uploaded image. Specifically, we pick out cars or trucks. If there are other things like Fire Extinguishers, People or Candles, those are disregarded.</p>
                    <p>The object's locations are then fed to a script which utilizes the Python Image Library and crops the individual vehicles out of the source image into separate images.</p>
                    <p>Lastly, each cropped image is fed into the 2nd AI Framework which is an implementation of ResNet34 using PyTorch. The AI will make a guess as to what car is in the image and provide that data back to the user.</p>
                    <p>To identify your vehicle, we had to train a model on over 100 different classes of vehicles. This meant scouring the internet for over 4000 images that were of sufficent quality and size. While our AI doesn't recognize all vehicles on the road, we feel we've trained it for a good cross-section of modern vehicles.</p>
                </div>
                <div class="row border-top border-dark pt-3">
                    <h3 class="fw-bold text-center">About the Creators</h3>
                    <p class="lead text-center"> This project is Capstone Project for Kevin Joy, Gabrielle Pang and George Kochera. It is a component of Oregon State University's Post-Baccalaureate Computer Science Program</p>
                </div>

                <!-- Supported Car Classes -->
                <div id="classes" class="row border-top border-dark pt-3">
                    <h3 class="fw-bold text-center">Supported Vehicle Classes</h3>
                    <p class="lead text-center mb-0">Acura MDX (2014 - 2016)</p>
                    <p class="lead text-center mb-0">Acura MDX (2017 - 2020)</p>
                    <p class="lead text-center mb-0">Acura TL (2008 - 2014)</p>
                    <p class="lead text-center mb-0">Alfa Romeo Giulia (2016 - 2021)</p>
                    <p class="lead text-center mb-0">Alfa Romeo Giulia Berlina (1962 - 1978)</p>
                    <p class="lead text-center mb-0">Alfa Romeo Stelvio (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Aston Martin V8 Vantage (1993 - 1998)</p>
                    <p class="lead text-center mb-0">Aston Martin V8 Vantage (2005 - 2021)</p>
                    <p class="lead text-center mb-0">Audi A4 (1994 - 1998)</p>
                    <p class="lead text-center mb-0">Audi A4 (2002 - 2005)</p>
                    <p class="lead text-center mb-0">Audi A4 (2016 - 2018)</p>
                    <p class="lead text-center mb-0">Audi R8 4S (2015 - 2020)</p>
                    <p class="lead text-center mb-0">BMW 2002 (1968 - 1975)</p>
                    <p class="lead text-center mb-0">BMW 3 Series (2012 - 2015)</p>
                    <p class="lead text-center mb-0">BMW 3 Series (2016 - 2018)</p>
                    <p class="lead text-center mb-0">BMW E30 (1982-1994)</p>
                    <p class="lead text-center mb-0">BMW E36 (1990 - 2000)</p>
                    <p class="lead text-center mb-0">BMW X3 (2014 - 2017)</p>
                    <p class="lead text-center mb-0">Buick Enclave (2012 - 2017)</p>
                    <p class="lead text-center mb-0">Chevrolet Avalanche (2007 - 2013)</p>
                    <p class="lead text-center mb-0">Chevrolet Camaro (2010 - 2015)</p>
                    <p class="lead text-center mb-0">Chevrolet Corvette C1 (1953-1955)</p>
                    <p class="lead text-center mb-0">Chevrolet Corvette C6 (2005 - 2013)</p>
                    <p class="lead text-center mb-0">Chevrolet Corvette C7 (2014 - 2019)</p>
                    <p class="lead text-center mb-0">Chevrolet Corvette C8 (2020 - 2021)</p>
                    <p class="lead text-center mb-0">Chevrolet Impala (2006 - 2016)</p>
                    <p class="lead text-center mb-0">Chevrolet Malibu (2016 - 2018)</p>
                    <p class="lead text-center mb-0">Chevrolet Silverado 1500 (2006 - 2014)</p>
                    <p class="lead text-center mb-0">Dodge Charger (2015 - 2020)</p>
                    <p class="lead text-center mb-0">Dodge Durango (2011 - 2020)</p>
                    <p class="lead text-center mb-0">Dodge Viper SR I (1991 - 1995)</p>
                    <p class="lead text-center mb-0">Dodge Viper SR II (1996 - 2002)</p>
                    <p class="lead text-center mb-0">Dodge Viper VX I (2013 - 2017)</p>
                    <p class="lead text-center mb-0">Dodge Viper ZB I (2003 - 2007)</p>
                    <p class="lead text-center mb-0">Dodge Viper ZB II (2008 - 2010)</p>
                    <p class="lead text-center mb-0">Fiat 500 Abarth (2008 - 2016)</p>
                    <p class="lead text-center mb-0">Ford Crown Victoria (1998 - 2012)</p>
                    <p class="lead text-center mb-0">Ford Expedition (2018 - 2021)</p>
                    <p class="lead text-center mb-0">Ford Explorer (2020 - 2021)</p>
                    <p class="lead text-center mb-0">Ford F-150 (2009 - 2014)</p>
                    <p class="lead text-center mb-0">Ford Fusion (2013 - 2020)</p>
                    <p class="lead text-center mb-0">Ford Mustang (1999 - 2004)</p>
                    <p class="lead text-center mb-0">GMC Acadia (2007 - 2012)</p>
                    <p class="lead text-center mb-0">Honda Accord (2013 - 2015)</p>
                    <p class="lead text-center mb-0">Honda Civic (2006 - 2010)</p>
                    <p class="lead text-center mb-0">Honda Civic (2011 - 2015)</p>
                    <p class="lead text-center mb-0">Honda Civic (2016 - 2020)</p>
                    <p class="lead text-center mb-0">Honda CR-V (2011 - 2014)</p>
                    <p class="lead text-center mb-0">Honda Fit (2013 - 2021)</p>
                    <p class="lead text-center mb-0">Honda Pilot (2016 - 2018)</p>
                    <p class="lead text-center mb-0">Honda Pilot (2019 - 2021)</p>
                    <p class="lead text-center mb-0">Hyundai Sonata (2008 - 2010)</p>
                    <p class="lead text-center mb-0">Hyundai Sonata (2015 - 2017)</p>
                    <p class="lead text-center mb-0">Hyundai Sonata (2018 - 2019)</p>
                    <p class="lead text-center mb-0">Jeep Grand Cherokee WK2 (2014 - 2020)</p>
                    <p class="lead text-center mb-0">Jeep Wrangler TJ (1997 - 2006)</p>
                    <p class="lead text-center mb-0">Jeep Wrangler Unlimited JK (2007 - 2017)</p>
                    <p class="lead text-center mb-0">Jeep Wrangler YJ (1987 - 1995)</p>
                    <p class="lead text-center mb-0">Kia Stinger (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Lexus IS (1999 - 2013)</p>
                    <p class="lead text-center mb-0">Lexus IS (2014 - 2021)</p>
                    <p class="lead text-center mb-0">Mazda 3 Sedan (2013 - 2018)</p>
                    <p class="lead text-center mb-0">Mazda CX-5 (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Mazda Miata MX-5 ND (2015-2021)</p>
                    <p class="lead text-center mb-0">Mazda Protege (1999 - 2003)</p>
                    <p class="lead text-center mb-0">Mercedes-Benz C-Class (2015 - 2019)</p>
                    <p class="lead text-center mb-0">Mercury Milan (2006 - 2011)</p>
                    <p class="lead text-center mb-0">Mini Countryman (2016 - 2020)</p>
                    <p class="lead text-center mb-0">Mitsubishi Lancer Evolution (1992 - 2006)</p>
                    <p class="lead text-center mb-0">Nissan Altima (2016 - 2018)</p>
                    <p class="lead text-center mb-0">Nissan Armada (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Nissan GTR (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Nissan Pathfinder (2005 - 2012)</p>
                    <p class="lead text-center mb-0">Pontiac Firebird (1993 - 1997)</p>
                    <p class="lead text-center mb-0">Pontiac Firebird (1998 - 2002)</p>
                    <p class="lead text-center mb-0">Porsche 911 (1964 - 1975)</p>
                    <p class="lead text-center mb-0">Porsche 911 (2005 - 2013)</p>
                    <p class="lead text-center mb-0">Porsche Cayenne (2011 - 2018)</p>
                    <p class="lead text-center mb-0">Subaru Crosstrek (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Subaru Forester (2014 - 2016)</p>
                    <p class="lead text-center mb-0">Subaru Forester (2019 - 2021)</p>
                    <p class="lead text-center mb-0">Subaru Impreza Hatchback (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Subaru Impreza Sedan (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Subaru Outback (2020 - 2021)</p>
                    <p class="lead text-center mb-0">Tesla Model 3 (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Tesla Model S (2012 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Camry (2001 - 2006)</p>
                    <p class="lead text-center mb-0">Toyota Camry (2015 - 2019)</p>
                    <p class="lead text-center mb-0">Toyota Corolla Sedan (2018 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Land Cruiser J70 Workmate (2015 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Prius (2003 - 2009)</p>
                    <p class="lead text-center mb-0">Toyota RAV4 (2013 - 2018)</p>
                    <p class="lead text-center mb-0">Toyota RAV4 (2018 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Sequoia (2017 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Sienna (2020 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Tacoma (2020 - 2021)</p>
                    <p class="lead text-center mb-0">Toyota Tundra (2014 - 2021)</p>
                    <p class="lead text-center mb-0">Volkswagen Golf GTI (2006 - 2021)</p>
                    <p class="lead text-center mb-0">Volkswagen Jetta (2011 - 2018)</p>
                    <p class="lead text-center mb-0">Volkswagen Microbus (1968 - 1978)</p>
                    <p class="lead text-center mb-0">Volkswagen Passat (2006 - 2010)</p>
                    <p class="lead text-center mb-5">Volkswagen Beetle (2011 - 2019)</p>
                </div>
            </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>